* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth !important;
    cursor: none;
}

html {
    scroll-behavior: smooth;
}

.text-shadow {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.582);
}

.text-shadow-sm {
    text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.212);
}
.cursor-custom , .cursor-custom-2 , .cursor-custom-3 {
    pointer-events: none;
    /* box-shadow: 0px 0px 10px rgb(0, 0, 0); */
}

.hover-pointer{
    /* background-color: beige; */
    transition: all 0.5s cubic-bezier(.25,0,.5,.99);
}

.responsive-navbar {
    right: 0;
    transition: all 0.5s cubic-bezier(.25,0,.5,.99);
    transform: translate(70vw);
    background-color: rgba(255, 255, 255, 0.589);
    backdrop-filter: blur(7px);
    box-shadow: 0px 0px 60px rgba(58, 58, 58, 0.329);
}
.w-open {
    transition: all 0.5s cubic-bezier(.25,0,.5,.99);
    transform: translate(0vw) !important;
}

.h-list {
    width: 26px;
    transform: rotate(0deg) translateY(0px);
    transition: all 0.5s cubic-bezier(.25,0,.5,.99);
}

.open .h-list:nth-child(1){
    /* width: 25px; */
    transform: rotate(-20deg) translateY(-5px);
    
}
.open .h-list:nth-child(2){
    transform: rotate(20deg) translateY(5px);
    /* width: 25px; */

}

.close .h-list {
    width: 20px;
}

.text-black .h-list {
    background-color: black;
}


.hover-pointer::before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: -100%;
    height: 2px;
    background-color: white;
    transition: all 0.5s cubic-bezier(.25,0,.5,.99);
    /* transition-timing-function:   ; */
}

.transition-custom {
    transition: all 0.2s cubic-bezier(.25,0,.5,.99);
}

.tirai-transition {
    transition: all 1s cubic-bezier(.25,0,.5,.99);

}
.perspective {
    perspective: 300px;
}
.sub-head {
    /* transform: rotateX(20deg) rotateY(0deg); */
    transform-style: preserve-3d;
}
.black .hover-pointer::before{

    background-color: black;

}

.hover-pointer:hover::before{
    left: 0;
}

.navbar {
    /* transform: skew(-0.06turn, 18deg); */
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(7px);
    box-shadow: 0px 0px 60px rgba(58, 58, 58, 0.329);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fafafa;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6e6e6e;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #434343;
  }


  .slider-item {
    animation: autoRun linear infinite;
    animation-duration: var(--duration);
    animation-delay: var(--delay);
    /* width: var(--width); */
  }
  
  
  .slider-item-reverse {
    animation: sliderReverse linear infinite;
    animation-duration: var(--duration);
    animation-delay: var(--delay);
    /* width: var(--width); */
  }

  .slider-list{
    /* --no: ; */
    width: calc(var(--width)*var(--total));
    left: calc(var(--width)*-2);
  }

  .slider-list:hover .slider-item  {
    animation-play-state: paused;
  }
  .slider-list:hover .slider-item-reverse  {
    animation-play-state: paused;
  }

  @keyframes autoRun {
    from{
        left: 100%;
    }to{
        left: calc(var(--width)* -1);
    }
  }
  @keyframes sliderReverse {
    from{
        right: 100%;
    }to{
        right: calc(var(--width)* -1);
    }
  }

